* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.header,
.intro,
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul,
p,
button {
    font-size: 18px;
}

ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    gap: 24px;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 120px 24px;
    gap: 64px;
}

.intro .left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 450px;
}

.intro .title {
    font-size: 48px;
    font-weight: 900;
}

.intro button {
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
    padding: 7px 32px;
    color: inherit;
    font-weight: 500;
}

.placeholder-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 500px;
    height: 250px;
}

.details {
    color: #1F2937;
    margin-bottom: 120px;
}

.details .title {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    margin: 48px;
}

.block-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 64px;
}

.block {
    width: 170px;
    text-align: center;
}

.blank-square {
    width: inherit;
    aspect-ratio: 1;
    border: solid 4px #3882F6;
    margin-bottom: 16px;
    border-radius: 16px;
}

.quote {
    background-color: #E5E7EB;
    padding: 100px 300px;
}

.quote .text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    width: content-fit;
}

.quote .author {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}

.call-to-action {
    background-color: #3882F6;
    display: flex;
    padding: 40px 100px;
    margin: 100px 250px;
    justify-content: space-between;
    border-radius: 16px;
    color: #F9FAF8;
}

.bold {
    font-weight: bold;
}

.call-to-action button {
    color: inherit;
    background-color: inherit;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    padding: 4px 24px;
}

.footer {
    text-align: center;
    padding: 24px;
}
